* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  max-width: 460px;
  margin: 100px auto;
}
.container > div {
  margin-bottom: 30px;
}
.text-info * {
  margin-bottom: 20px;
}
.form {
  margin: 40px 40px;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 2px 8px 5px #866c6c17;
}
.form > * {
  display: block;
  margin-block: 15px;
  border: 1px solid #866c6c17;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}
.email-input::placeholder {
  text-align: center;
}
button {
  background-color: blue;
  color: white;
  border: none;
}
button:hover {
  background-color: green;
  cursor: pointer;
}
form p {
  font-size: 0.677rem;
  border: none;
}
p {
  color: #87898f;
}
.form-info {
  border: 0;
}
